configuration {
	modi: "run";
	font: "Terminus 11";
	hide-scrollbar: true;
	kb-remove-to-eol: "";
	kb-accept-entry: "Return,Control+Return";
	kb-accept-custom: "";
	kb-row-up: "Control+k,Up";
	kb-row-down: "Control+j,Down";
    theme: "theme.rasi";
}
